.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--ec-font-family);
}

.app__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
