.empty {
	// border in day mode
	border: 1px dashed #3b4351;

	display: block;
	height: calc(100% - 14px);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 6px;
	padding: 0;

	.empty-inner {
		position: absolute;

		// position the top+left edges of the element
		// at the middle of the parent
		top: 50%;
		left: 50%;

		// This is a shorthand of translateX(-50%) and translateY(-50%)
		transform: translate(-50%, -50%);
	}
}
