@import "../../node_modules/spectre.css/dist/spectre.css";
@import "../../node_modules/spectre.css/dist/spectre-icons.css";

.empty {
	border: 1px dashed #3b4351;
}

#file-list tr td:first-child {
	max-width: 20em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#file-list tr td:nth-child(2) > div,
#file-list tr td:nth-child(3) > div {
	width: 100%;
	height: 100%;
}

.card-body {
	text-align: left;
}
